.info-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}
@media screen and (min-width: 480px) {
  .info-grid {
    display: grid;
    grid-template-columns: 27.5em auto;
    margin-top: 0;
  }
}

.color-by-typemode {
  transition: color 0.5s;
  color: #8bc34a;
}
.color-by-typemode.table__graph span {
  background-color: #8bc34a;
}

.asylum .color-by-typemode--inverse {
  color: #8bc34a;
}
.asylum .color-by-typemode--inverse.table__graph span {
  background-color: #8bc34a;
}

.fill-by-typemode,
#switch-bg,
.toggle-button__dot {
  transition: fill 0.5s;
  fill: #8bc34a;
}

.stroke-by-typemode #switch-bg {
  stroke: #8bc34a;
}

.asylum .fill-by-typemode--inverse {
  fill: #8bc34a;
}

.fill--red {
  fill: #8bc34a;
}

.font-weight--book,
body,
.story-preview p,
.story-preview span,
.story-preview-title,
.related-story-module h2,
.population-data a,
.population-data span {
  font-weight: 400;
}

.font-weight--medium,
.related-story-module,
.related-story-module p,
.related-story-module span {
  font-weight: 500;
}

.font-weight--black,
.story-body .story-title {
  font-weight: 900;
}

.font-color--black {
  color: #000;
}

.font-color--green {
  color: #8bc34a;
}

.font-color--blue {
  color: #00d7ed;
}

.font-color--mutedGray {
  color: #6d7988;
}

.list-reset,
.sources-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.button-reset {
  font-size: 100%;
  font-family: inherit;
  background-color: transparent;
  padding: 0;
  color: #fff;
  border: 0;
  border-radius: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Gotham XNarrow SSm A", "Gotham XNarrow SSm B",
    "GothamXNarrow-Book", sans-serif;
  font-style: normal;
  background-color: #000;
}

*:focus {
  outline: none !important;
}

.is-hidden {
  display: none;
}

.will-fade-in {
  visibility: hidden;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.icon--dropdown {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  display: inline-block;
  height: 12px;
  transition: border 0.2s;
  width: 10px;
}
@media screen and (min-width: 480px) {
  .icon--dropdown {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #fff;
    height: 16px;
    width: 12px;
  }
}

#map-page {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.map--desktop {
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .map--desktop {
    display: block;
  }
}

.map--mobile {
  display: block;
  height: 350px;
  margin: 0 auto;
  pointer-events: none;
  position: relative;
  width: calc(100% - 2rem);
}
@media screen and (min-width: 480px) {
  .map--mobile {
    display: none;
  }
}

.info-collapse #map--desktop:before {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.75;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.75;
  }
}

#home-button img {
  width: 150px;
  height: 13px;
  line-height: 0;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}
@media screen and (min-width: 480px) {
  .info-grid {
    display: grid;
    grid-template-columns: 27.5em auto;
    margin-top: 0;
  }
}
