#newsInfo {
  color: white;
  position: relative;
  z-index: 2;
  line-height: 1.5;
  min-height: 100vh;
  grid-column: 1;
  transition: all 0.3s;
}

#newsInfo .primary .wrapper {
  margin-top: 20px;
}
#newsInfo .primary #refugees {
  font-size: 1.75em;
}
#newsInfo .primary p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 20px 0 0;
}
#newsInfo .primary select {
  color: #8bc34a;
  transition: color 0.2s;
}
@media screen and (min-width: 480px) {
  #newsInfo .primary #refugees {
    font-size: 2.5em;
    line-height: 1.2em;
  }
  #newsInfo .primary p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
#newsInfo .secondary {
  font-size: 1.5em;
}
#newsInfo .stats {
  z-index: 2;
}

#newsInfo .stats button.toggle {
  color: #8bc34a;
  position: relative;
}
#newsInfo .stats button.toggle:hover:after,
#newsInfo .stats button.toggle:focus:after,
#newsInfo .stats .select-wrap:hover:after,
#newsInfo .stats .select-wrap select:focus:after {
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}
#newsInfo .stats .select-wrap:hover {
  color: #8bc34a;
}
#newsInfo .stats .select-wrap:hover .icon--dropdown {
  border-top-color: #8bc34a;
}
#newsInfo .stats .story-headline-link {
  margin-bottom: 1em;
}

#newsInfo .stats .about-link {
  margin-bottom: 1em;
  color: #8bc34a;
  text-decoration: underline;
}

.info-box {
  margin: 1em;
  padding: 1em;
}

.info-box-bg,
.info-box {
  background-color: rgba(50, 62, 83, 0.25);
}

.info-box-selected {
  display: none;
}

.info-box__form {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .info-box__form {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.info-box__form {
  color: #fff;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .info-box__form {
    font-size: 2rem;
  }
}

.newsInfo__top {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 1em;
}
.newsInfo__top svg {
  height: 30px;
  width: auto;
}
.newsInfo__top svg * {
  transition: fill 0.3s 0.3s;
}
@media screen and (min-width: 480px) {
  .newsInfo__top {
    align-items: flex-end;
    max-width: 200px;
    margin: 0 1rem;
    top: 1em;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.3s;
    z-index: 9;
  }
}
@media screen and (min-width: 768px) {
  .newsInfo__top {
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media screen and (min-width: 480px) {
  .secondary-open .newsInfo__top {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
}

@media screen and (max-width: 1024px) {
  .newsInfo_fadeIn {
    display: none !important;
  }
}
