.table__description {
    margin-top: 50px; }
  
  .table--refugee-pop {
    border-collapse: collapse;
    margin: 30px auto 0;
    max-width: 800px; }
    @media screen and (min-width: 992px) {
      .table--refugee-pop {
        max-width: 950px; } }
    .table--refugee-pop tr {
      border-bottom: 1px solid #626262;
      border-top: 1px solid #626262; }
    .table--refugee-pop td {
      font-size: 1em;
      text-align: left;
      padding: 5px; }
      .table--refugee-pop td:nth-of-type(even) {
        border: 1px solid #626262; }
      @media screen and (min-width: 992px) {
        .table--refugee-pop td {
          font-size: 1.25em; } }
    .table--refugee-pop .table__link {
      color: #9aabbc;
      cursor: pointer;
      display: inline-block;
      line-height: 1.25;
      text-decoration: none;
      transition: color 0.2s; }
      .table--refugee-pop .table__link:hover {
        color: #fff; }
    .table--refugee-pop .table__graph {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .table--refugee-pop .table__graph {
          width: auto;
          min-width: 250px; } }
      @media screen and (min-width: 1340px) {
        .table--refugee-pop .table__graph {
          min-width: 300px; } }
      .table--refugee-pop .table__graph span {
        display: block;
        height: 100%;
        min-height: 25px;
        opacity: 0.6;
        transition: background-color 0.5s;
        width: 0px; }